#discussion-box {
    position: fixed;
    bottom: 0px;
    right: 3vw;
    height: 48px;
    width: 300px;
    text-align: center;

    transition: 0.3s;
}

.container-disc {
    width: 300px;
    height: 398px;
    background-color: var(--Fond-2);
    border-radius: var(--Rad-S) var(--Rad-S) 0px 0px;
    border: 1px solid var(--Border);
    overflow: hidden;
}

.openDiscus {
    transform: translateY(-350px);
}

.openDiscus .chevron {
    transform: rotateZ(180deg);
}

#top-disc {
    display: flex;
    gap: var(--Gap-XS);
    background-color: var(--Couleur-1);
    padding: var(--Padding-S);
    text-align: center;
    cursor: pointer;
    align-items: center;
}

#top-disc p {
    width: 100%;
    text-align: left;
}

#list-conversations {
    display: flex;
    flex-direction: column;
    gap: var(--Gap-S);
    padding: var(--Padding-S);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#list-conversations::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #ffffff00;
}

#list-conversations::-webkit-scrollbar-thumb {
    background: var(--Border);
    border-radius: var(--Rond);
}

.conversation {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: var(--Gap-XS);
    cursor: pointer;
    text-decoration: none;
    color: var(--Text-1);
    align-items: center;
    text-align: left;
    transition: 0.3s;
}

.conversation p {
    padding: var(--Padding-S);
    border-radius: var(--Rad-S);
    background-color: var(--Fond-Body);
    transition: 0.3s;
}

.conversation:hover p {
    background-color: var(--Couleur-1);
}

.demarrer {
    color: var(--Text-1-90);
}

/* .name-last-message p {
    margin: 0;
}

.last-message-date p {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0;
} */

@media (max-width: 700px) {
    #discussion-box {
        display: none;
    }
}