#discussion-box {
    font-family: 'Arial', sans-serif;
    background-color: #f2f3f5;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}


#top-disc {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#list-conversations {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#list-conversations a {
    
    text-align: center;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

#list-conversations a:hover {
    background-color: #e7e7e7;
}

.conversation-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.name-last-message p {
    margin: 0;
}

.last-message-date p {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0;
}
