
nav{

    display: grid;
    grid-template-rows: repeat(3, fit-content(100%)) 1fr fit-content(100%);

    padding: var(--Padding-S);


    background-color: var(--Couleur-1);
    border-radius: var(--Rad-S);
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    height: 64px;
    z-index: 1000;
    width: 64px;

    font-size: var(--nav);
    transition: 0.3s;
}

.BurgerIcon {
    grid-area: i;
}

.ouvert {
    height: 380px;
    width: 96vw;

    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
        "m m"
        ". i";

}

.Nav_Menu {
    display: none;
    grid-template-rows: repeat(3, fit-content(100%));
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "h f"
        "r r"
        "n n";
    gap: var(--Gap-XL);
}

.ouvert > .Nav_Menu {
    grid-area: m;

    display: grid;

}

nav a {
    color: var(--Text-1);
}

.Nav_Menu > header {
    grid-area: h;

    display: flex;
    flex-direction: column;
    gap: var(--Gap-XS);
}

.Nav_profil {
    display: flex;
    align-items: center;
    gap: var(--Gap-XS);
}

.Nav_logOut {
    color: var(--Text-1-90);

}

nav hr {
    grid-area: r;


    border: 1px solid var(--Text-1-90);
    border-radius: 1px;
}

.Nav_Menu > section {
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--Gap-S);
}

.Nav_Menu > footer {
    grid-area: f;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.Nav_link {
    display: flex;
    align-items: center;
    gap: var(--Gap-XS);
}

.Nav_link, .Nav_profil {
    background-color: var(--Couleur-1);
    border-radius: var(--Rad-XS);
    padding: var(--Padding-XS);
    
    transition: 0.3s;
}

.Active {
    background-color: var(--Couleur-2);
}

.Nav_link:hover, .Nav_profil:hover{
    background-color: var(--Border);
}

@media (min-width: 700px) {

    nav {
        display: block;

        top: 1vh;
        left: 1vh;
        height: 98vh;
        width: 200px;

        margin: 0px;
    }

    .ouvert {
        height: 98vh;
        width: 200px;
    
        grid-template-columns: 1fr;
    
    }

    .BurgerIcon {
        display: none;
    }

    .Nav_Menu {
        display: grid;
        grid-template-rows: repeat(3, fit-content(100%)) 1fr fit-content(100%);
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "r"
            "n"
            "."
            "f";
        gap: var(--Gap-XL);

        height: 100%;
    }

    .Nav_Menu > section {
        display: flex;
        flex-direction: column;
    }

    .Nav_Menu > footer {
        flex-direction: row;
        align-items: center;
    }


}