.discussion-container {
    display: flex;
    padding-left: var(--Padding-XL);
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) 1fr;
    gap: var(--Gap-M);
    width: 350px;
    border-right: 1px solid var(--Border);
    background-color: var(--Fond-Body);
    padding: var(--Padding-M) var(--Padding-S);
    padding-left: 0px;
}

.sidebar > div {
    display: grid;
    grid-template-rows: repeat(3,fit-content(100%));
    gap: var(--Gap-M);
}


.conversation-list, .classmate-list {
    display: grid;
    gap: var(--Gap-S);
}

.conversation-list h2{
    color: var(--Sous-Titre);
}


.classmate-list h2 {
    color: var(--Text-1-90);
}


.conversation, .classmate {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    text-decoration: none;
    color: var(--Text-1);
    font-weight: bold;
}

.classmate {
    color: var(--Text-1-70);
}

.conversation:hover, .classmate:hover {
    background-color: var(--Fond-2);
}

.current-conversation {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message-list {
    overflow-y: auto;
    flex-grow: 1;
}

.message {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message-header {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #666;
}

.message-content {
    font-size: 1em;
}

.message-date {
    float: right;
    color: #999;
}

.message-form {
    margin-top: 15px;
}

.message-form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--Couleur-2);
    color: var(--Text-1);
    cursor: pointer;
}

.message-form input[type="submit"]:hover {
    background-color: var(--Couleur-1);
}
