.discussion-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) 1fr;
    gap: var(--Gap-M);
    width: 100%;
    border-right: 1px solid var(--Border);
    background-color: var(--Fond-Body);
    padding: var(--Padding-M) var(--Padding-S);
}

.sidebar > div {
    display: grid;
    grid-template-rows: repeat(3,fit-content(100%));
    gap: var(--Gap-M);
    overflow-y: scroll;
}

.sidebar > div::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #ffffff00;
}

.sidebar > div::-webkit-scrollbar-thumb {
    background: var(--Border);
    border-radius: var(--Rond);
}


.conversation-list, .classmate-list {
    display: grid;
    gap: var(--Gap-S);
}

.conversation-list h2{
    color: var(--Sous-Titre);
}


.classmate-list h2 {
    color: var(--Text-1-90);
}


.conversation, .classmate {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: var(--Gap-XS);
    cursor: pointer;
    text-decoration: none;
    color: var(--Text-1);
    align-items: center;
    transition: 0.3s;
}

.conversation p, .classmate p {
    padding: var(--Padding-S);
    border-radius: var(--Rad-S);
    background-color: var(--Fond-2);
    transition: 0.3s;
}

.classmate {
    color: var(--Text-1-70);
}

.classmate p {
    background-color: var(--Fond-Body);
}

.conversation:hover p, .classmate:hover p {
    background-color: var(--Couleur-1);
}

.current-conversation {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.interlocuteur {
    display: flex;
    align-items: center;
    padding-bottom: var(--Padding-S);
    gap: var(--Gap-S);
}

.interlocuteur h2 {
    color: var(--Sous-Titre);
}

.message-list {
    display: grid;
    grid-template-rows: fit-content(100%);
    gap: var(--Gap-S);
    overflow-y: auto;
    padding: var(--Padding-S);
    flex-grow: 1;
}

.message-list::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #ffffff00;
}

.message-list::-webkit-scrollbar-thumb {
    background: var(--Border);
    border-radius: var(--Rond);
}

.message {
    display: grid;
    gap: var(--Gap-S);
    background-color: var(--Fond-2);
    padding: var(--Padding-S) var(--Padding-M);
    border-radius: var(--Rad-S);
    max-width: 80%;
    width: fit-content;
}

.message_D {
    background-color: var(--Couleur-1);
    margin-left: auto;
    text-align: right;
    height: fit-content;
}

.message-content {
    font-size: 1em;
}

.message-date {
    color: var(--Text-1-90);
}

.message-form {
    margin-top: 15px;
}

.message-form input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--Couleur-2);
    color: var(--Text-1);
    cursor: pointer;
}

.message-form input[type="submit"]:hover {
    background-color: var(--Couleur-1);
}

.Hidden_Sidebar {
    display: none;
}

.Hidden_conversation {
    display: none;
}

.interlocuteur .back {
    display: flex;
    background-color: var(--Couleur-1);
    padding: var(--Padding-XS);
    border-radius: var(--Rad-S);
    text-align: center;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.back svg path {
    stroke: var(--Sous-Titre);
}

@media (min-width: 700px) {

    .discussion-container {
        padding-left: var(--Padding-XL);
    }

    .Hidden_Sidebar {
        display: grid;
    }

    .Hidden_conversation {
        display: flex;
    }

    .sidebar {
        width: 400px;
        padding-left: 0px;
    }

    .interlocuteur .back {
        display: none;
    }
}