.dashboard-container {
    display: grid;
    padding: var(--Padding-XL);
    gap: var(--Gap-XL);
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--Gap-L);
}

.Widget{
    border: solid 1px black;
    min-width: 260px;
    width: 100%;
    height: 295px;

    padding: var(--Padding-M);
    border-radius: var(--Rad-M);
    
    background-color: var(--Fond-2);
    border: 1px solid var(--Border);
}

.Widget_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Widget_Titre {
    font-size: var(--h4);
    font-weight: 600;
    color: var(--Sous-Titre);
}

.Widget svg > path {
    stroke: var(--Sous-Titre);
}

#Agenda, #Actu {
    height: 614px;
}

#middle{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.news-1{
    margin-top: 10px;
    background-color: #cecece;
    border: 2px solid black;
    border-radius: var(--Rad-M);
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    gap: 10px;
}

.news-1 img{
    width: 100px;
    border-radius: var(--Rad-M);
}

.outils{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.outil img{
    width: 50px;
}

.outil{
    padding: 10px;
}

.outil a{
    color: black;
    text-decoration: none;
}

@media (min-width: 800px) {

    section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, fit-content(100%));
        grid-template-areas: 
            "ag td"
            "ag ab"
            "co no"
            "ou ou"
            "ac ac";
    }

    #Agenda {
        grid-area: ag;
    }
    
    #Todoo {
        grid-area: td;
    }
    
    #Cours {
        grid-area: co;
    }
    
    #Actu {
        grid-area: ac;
        height: 230px;
    }
    
    #Absences {
        grid-area: ab;
    }
    
    #Notes {
        grid-area: no;
    }
    
    #Outils {
        grid-area: ou;
    
        height: 230px;
    }

}

@media (min-width: 1100px) {

    section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, fit-content(100%));
        grid-template-areas: 
            "ag td co"
            "ag ab no"
            "ou ou ou"
            "ac ac ac";
    }
}

@media (min-width: 1380px) {
    section {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, fit-content(100%));
        grid-template-areas: 
            "ag td co ac"
            "ag ab no ac"
            "ou ou ou ou";
    }

    #Actu {
        height: 614px;
    }
}