
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --main-font: 'Inter', sans-serif;


    /** Couleur Primaire*/
    --Noir: #09090B;
    --Noir-90: #09090Be6;
    --Noir-70: #09090Bb3;

    --Blanc: #F8F8F8;
    --Blanc-90: #F8F8F8e6;
    --Blanc-70: #F8F8F8b3;

    --bleu: #cfeaff;
	--bleu-2: #79cfff;
	--violet: #fcefff;
	--violet-2: #f0abfc;
	--rouge: #ffe0e0;
	--rouge-2: #ffa2a2;
	--vert: #e0eec9;
	--vert-2: #b2d581;

    /** Radius */

    --Rad-XXS: 4px;
	--Rad-XS: 8px;
	--Rad-S: 16px;
	--Rad-M: 24px;
	--Rad-L: 32px;
	--Rond: 100px;

    /** Padding */
    
    --Padding-XS: 6px;
	--Padding-S: 12px;
	--Padding-M: 18px;
	--Padding-L: 24px;
	--Padding-XL: 30px;

    /** Gap  */


    --Gap-XS: 6px;
    --Gap-S: 12px;
	--Gap-M: 18px;
	--Gap-L: 24px;
	--Gap-XL: 30px;



	--GapN-XS: -6px;
	--GapN-S: -12px;
	--GapN-M: -18px;
	--GapN-L: -24px;
	--GapN-XL: -30px;

    /** Texte */

    --h1: 2.25rem;
    --h2: 1.88rem;
    --h3: 1.56rem;
    --h4: 1.25rem;
    --regular: 1rem;
    --bold: 1rem;
    --nav: 1rem;
    --micro: 0.75rem;

}

body{
    margin: 0;
    font-family: var(--main-font);
    color: var(--Text-1);
    background: var(--Fond-Body);
}

.Icon_Small {
    height: 16px;
    width: 16px;
}

.Icon_Medium {
    height: 20px;
    width: 20px;
}

.Icon_Large {
    height: 24px;
    width: 24px;
}

.Icon_Larger {
    height: 28px;
    width: 28px;
}

.Icon_Big {
    height: 40px;
    width: 40px;
}

/** Style texte */

.txt_h1 {
    font-size: var(--h3);
    font-weight: 900;

    color: var(--Headling);
}

.txt_h2 {
    font-size: var(--h2);
    font-weight: 700;
}

.txt_h3 {
    font-size: var(--h3);
    font-weight: 700;
}

.txt_h4 {
    font-size: var(--h4);
    font-weight: 600;
}

.txt_regular {
    font-size: var(--regular);
    font-weight: 400;
}

.txt_bold {
    font-size: var(--bold);
    font-weight: 700;
}

.txt_nav {
    font-size: var(--nav);
    font-weight: 500;
}

.txt_micro {
    font-size: var(--micro);
    font-weight: 400;
}

.noDeco {
    text-decoration: none;

}

.input {
    border-radius: var(--Rad-XS);
    border: 1px solid var(--Border);
    padding: var(--Padding-XS) var(--Padding-S);
    font-size: var(--micro);
    color: var(--Noir-90);
    background-color: var(--Blanc);
    width: 100%;
    height: 32px;
}

@media (min-width: 540px) {

    .txt_h1 {
        font-size: var(--h2);
    }

}

@media (min-width: 700px) {
    body {
        padding-left: calc(200px + 1vw);
    }
}

@media (min-width: 860px) {
    .txt_h1 {
        font-size: var(--h1);
    }
}